body
{
    background-color: var(--platinum);
    /* CSS HEX */
    --plump-purple: #52489cff;
    --true-blue: #4062bbff;
    --maximum-blue-green: #59c3c3ff;
    --platinum: #ebebebff;
    --fiery-rose: #f45b69ff;
}


.navigation{
    background-color: var(--fiery-rose);
    border-radius: 5px;
}

.navigation__link{
    color: var(--plump-purple);
    display: inline-block;
    box-sizing: border-box;
    text-decoration: none;
    cursor: pointer;
    margin: 10px 10px;
    border: solid 2px var(--true-blue);
    padding: 10px;
    border-radius: 5px;
}


main{
    background-color: var(--maximum-blue-green);
    width: 1000px;
    min-height: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.main-title{
    text-align: center;
    text-transform: uppercase;
    color: var(--plump-purple);
    padding-top: 20px;
}

.post{
    padding: 0 20px;
    border: solid 5px var(--true-blue);
    border-radius: 20px;
    margin-bottom: 15px;;
}

.post__title{
    color: var(--true-blue);
    text-align: center;
}

.post__description{
    text-align: justify;
    
}

